<div class="header">
  <% if @participating %>
    <h1>
      You already saved your participation in this fleet!
    </h1>
  <% else %>
    <h1>
      Save your participation!
    </h1>
  <% end %>
</div>

<div class="box">
  <div class="text_center">
    <h4><%= @fleet.name %></h4>
    <%= char_image_tag(@eve_character_info.id) %>
    <%= ship_image_tag(@eve_character_info.shiptypeid) %>
    <%= corp_image_tag(@eve_character_info.corpid) %>

    <% if @eve_character_info.stationid.present? %>
      <%= "Docked in #{@eve_character_info.solarsystemid}" %>
    <% else %>
      <%= "Somewhere in #{@eve_character_info.solarsystemid}" %>
    <% end %>

  </div>
</div>
<div class="box">
  <% if !@participating %>
    <%= button_to 'Save participation!', fleet_participation_path(@fleet, Participation.new) %>
    <% end %>
</div>
