<div class="header">
  <% if @participating %>
    <h1>
      You already saved your participation in this fleet!
    </h1>
  <% else %>
    <h1>
      Save your participation!
    </h1>
  <% end %>
</div>

<div class="submit_result">
  <div class="text_center">
    <div class="fleet_name">
      <%= @fleet.name %>
    </div>
    <%= char_image_tag(@eve_char_info.id) %>
    <%= ship_image_tag(@eve_char_info.shiptypeid) %>
    <%= corp_image_tag(@eve_char_info.corpid) %>
    <div class="location">
      <% if @eve_char_info.stationid.present? %>
        <%= "Docked in #{@eve_char_info.solarsystemid}" %>
      <% else %>
        <%= "Somewhere in #{@eve_char_info.solarsystemid}" %>
      <% end %>
    </div>
  </div>
</div>
<div class="submit_button">
  <% if !@participating %>
    <%= button_to 'Save participation!', fleet_participation_path(@fleet, Participation.new) %>
    <% end %>
</div>
