<div class="header">
  <h1>Participation saved!</h1>
</div>

<div class="submit_result">
  <div class="text_center">
    <div class="fleet_name">
      <%= @fleet.name %>
    </div>
    <%= char_image_tag(@eve_char_info.id) %>
    <%= ship_image_tag(@eve_char_info.shiptypeid) %>
    <%= corp_image_tag(@eve_char_info.corpid) %>
    <div class="location">
      <% if @eve_stationid != nil %>
        <%= "Docked in #{@eve_solarsystemid}" %>
        <% else %>
        <%= "Somewhere in #{@eve_solarsystemid}" %>
        <% end %>
    </div>
  </div>
</div>
