<div class="header">
  <h1>EVE Online fleet participation tool</h1>
</div>

<div>
  <%= link_to image_tag("EVE_SSO_Login_Buttons_Small_Black.png"), "/auth/crest" %>
</div>


<div class="submit_fleet">
  <div class="text_center">
    <div class="warning">
      <%= flash[:input_missing] %>
    </div>

    <%= form_for :fleet, url: fleet_index_path do |f| %>
      <p>
        <%= f.label :"fleet name" %><br>
        <%= f.text_field :name %>
      </p>

      <p>
        <%= f.label :"fleet commander name" %><br>
        <%= f.text_field :fc_name %>
      </p>

      <p>
        <%= f.label :"backup fleet commander" %><br>
        <%= f.text_area :backup_fcs, size: "15x2" %>
      </p>

      <p>
        <%= f.label :"fleet booster" %><br>
        <%= f.text_area :fleet_booster, size: "15x5" %>
      </p>

      <p>
        <%= f.label :"doctrin" %><br>
        <%= f.text_field :doctrin %>
      </p>

      <p>
        <%= f.label :"details" %><br>
        <%= f.text_field :details %>
      </p>

      <p>
        <%= f.label :"started_at" %><br>
        <%= f.datetime_select :started_at, min: Date.today %>
      </p>

      <p>
        <%= f.label :"ended_at" %><br>
        <%= f.datetime_select :ended_at, min: Date.today %>
      </p>

      <p>
        <%= f.submit :"create fleet"%>
      </p>
    <% end %>
  </div>
</div>
