<div class="header">
  <h1>EVE Online fleet participation tool</h1>
</div>

<div class="submit_fleet">
  <div class="text_center">
    <%= form_for :fleet, url: fleet_index_path do |f| %>
      <p>
        <%= f.label :"fleet name" %><br>
        <%= f.text_field :name %>
      </p>

      <p>
        <%= f.label :"fleet commander name" %><br>
        <%= f.text_field :fc_name %>
      </p>

      <p>
        <%= f.label :"backup fleet commander" %><br>
        <%= f.text_area :backup_fcs %>
      </p>

      <p>
        <%= f.label :"fleet booster" %><br>
        <%= f.text_area :fleet_booster %>
      </p>

      <p>
        <%= f.label :"doctrin" %><br>
        <%= f.text_field :doctrin %>
      </p>

      <p>
        <%= f.label :"details" %><br>
        <%= f.text_field :details %>
      </p>

      <p>
        <%= f.label :"duration" %><br>
        <%= f.text_field :duration %>
      </p>

      <p>
        <%= f.submit :"create fleet"%>
      </p>
    <% end %>
  </div>
</div>
