<div class="header">
  <h1><%= ally_image_tag(@alliance.alliance_id, '128') %></h1>
</div>

<div class="box-table">
  <div class="box-header">Alliance</div>
  <div class="text-left">
    <p> Alliance name: <%= @alliance.name %> </p>
    <p> Ticker: <%= @alliance.short_name %> </p>
    <p> Added at: <%= @alliance.created_at %> </p>
  </div>
  <div class="text-center">
    <%= button_to 'Save alliance!', alliance_corporation_index_path(@alliance) %>
  </div>
</div>

<div class="box-table">
  <div class="box-header">Corporations</div>
  <div class="table">
    <table style="width:100%">
      <table>
        <tr>
          <th> Logo </th>
          <th> Ticker </th>
          <th> Name </th>
          <th> Membercount </th>
        </tr>
        <% @alliance.corporations.order('name ASC').each do |corporation| %>
          <tr>
            <td><%= corp_image_tag(corporation.corporation_id) %></td>
            <td><%= corporation.ticker %></td>
            <td><%= corporation.name %></td>
            <td><%= corporation.member_count %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
