<div class="header">
  <h1><%= @alliance.name %></h1>
</div>

<div class="box-table">
  <div class="box-header">Alliance</div>
  <div class="text-left">
    <p> Alliance name: <%= @alliance.name %> </p>
    <p> Ticker: <%= @alliance.short_name %> </p>
    <p> Alliance id: <%= @alliance.alliance_id%> </p>
    <p> Created at: <%= @alliance.created_at %> </p>
  </div>
  <div class="text-center">
    <%= button_to 'Save alliance!', alliance_corporation_index_path(@alliance) %>
  </div>
</div>
