<div class="box">
  <div class="box-header">Character</div>
  <div class="table">
    <table>
        <tr>
          <td><%= char_image_tag(@user.character_id) %></td>
          <td><%= corp_image_tag(@user.corporation_id) %></td>
          <td>Platzhalter Allianz Bild</td>
        </tr>
        <tr>
          <td><%= @user.character_name %></td>
          <td><%= @user.corporation_name %></td>
          <td>Platzhalter Allianz Name</td>
        </tr>
    </table>
  </div>
</div>

<div class="box">
  <div class="box-header">Fleets</div>
  <div class="link">
    <%= link_to "create new fleet", new_fleet_path %>
  </div>
  <div class="table">
  <table style="width:100%">
    <tr>
      <th>fleet name</th>
      <th>created</th>
    </tr>
      <% @fleets.each do |fleet| %>
        <tr>
          <td> <%= link_to fleet.name, fleet_participation_path(fleet) %> </td>
          <td> <%= fleet.created_at %> </td>
        </tr>
      <% end %>
  </table>
  </div>
</div>

<div class="box">
  <div class="box-header">Alliance</div>
  <div class="link">
    <%= link_to "add alliance", new_alliance_path %>
  </div>
  <div class="table">
    <table style="width:100%">
      <% @alliances.each do |alliance| %>
        <tr>
          <td> <%= ally_image_tag(alliance.alliance_id, '64') %> </td>
          <td> <%= alliance.short_name %> </td>
          <td> <%= link_to alliance.name, alliance_path(alliance) %> </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
