<div class="box">
  <div class="text_center">
    <div class="warning">
      <%= flash[:input_missing] %>
    </div>

    <%= form_for :fleet, url: fleet_index_path do |f| %>
      <p>
        <%= f.label :"crest fleet link" %><br>
        <%= f.text_field :crest_fleet_id %>
      </p>

      <p>
        <%= f.label :"fleet name" %><br>
        <%= f.text_field :name %>
      </p>

      <p>
        <%= f.label :"doctrin" %><br>
        <%= f.text_field :doctrin %>
      </p>

      <p>
        <%= f.label :"reason" %><br>
        <%= f.select :reason, options_for_select(['CTA', 'StratOp', 'HomeDefense', 'Mining', 'MoveOp', 'Other']) %>
      </p>

      <p>
        <%= f.label :"details" %><br>
        <%= f.text_field :details %>
      </p>

      <p>
        <%= f.label :"started at" %><br>
        <%= f.datetime_select :started_at, min: Date.today %>
      </p>

      <p>
        <%= f.label :"ended at" %><br>
        <%= f.datetime_select :ended_at, min: Date.today %>
      </p>

      <p>
        <%= f.submit :"create fleet"%>
      </p>
    <% end %>
  </div>
</div>
