<div class="header">
  <h1><%= @fleet.name %></h1>
</div>

<div class="box-table">
  <div class="box-header">Fleet details</div>
  <div class="text-left">
    <p> Fleet name: <%= @fleet.name %> </p>
    <p> FC: <%= @fleet.fc_name %> </p>
    <p> Doctrin: <%= @fleet.doctrin %> </p>
    <p> Reason: <%= @fleet.reason %> </p>
    <p> Details: <%= @fleet.details %> </p>
    <p> Pilots: <%= @fleet.pilot_count %> </p>
    <p> Fleet started at: <%= @fleet.started_at %> </p>
    <p> Fleet ended at: <%= @fleet.ended_at %> </p>
    <p> Created at: <%= @fleet.created_at %> </p>
  </div>
  <div class="text-center">
    <%= button_to 'Save fleet participations!', fleet_participation_path(@fleet) %>
  </div>
</div>
