<div class="header">
  <h1><%= @fleet.name %></h1>
</div>

<div class="box">
  <div class="text_left">
    <p> Crest fleet id: <%= @fleet.crest_fleet_id %> </p>
    <p> FC name: <%= @fleet.fc_name %> </p>
    <p> Wing booster: <%= @fleet.wing_booster_name %> </p>
    <p> Doctrin: <%= @fleet.doctrin %> </p>
    <p> Reason: <%= @fleet.reason %> </p>
    <p> Details: <%= @fleet.details %> </p>
    <p> Pilot count: <%= @fleet.pilot_count %> </p>
    <p> Fleet started at: <%= @fleet.started_at %> </p>
    <p> Fleet ended at: <%= @fleet.ended_at %> </p>
    <p> Created: <%= @fleet.created_at %> </p>
  </div>
</div>

<div class="box">
  <div class="text_left">
    <%= label_tag 'admin-url', 'Link to admin' %>
    <br>
    <%= text_field_tag 'admin_url', fleet_url, size: 100 %>
    <br>
  </div>
</div>

<div class="box">
  <div class="text_left">
    <% @fleet.participations.each do |participation| %>
      <tr>
        <td><%= participation.eve_charname %></td>
        <td><%= participation.eve_shiptypename %></td>
      </tr>
      <br>
    <% end %>
  </div>
</div>
