<div class="header">
  <h1><%= @fleet.name %></h1>
</div>

<div class="box">
  <div class="text_left">
    <p> EVE fleet id: <%= @fleet.eve_fleet_id %> </p>
    <p> Fleet name: <%= @fleet.name %> </p>
    <p> FC: <%= @fleet.fc_name %> </p>
    <p> Doctrin: <%= @fleet.doctrin %> </p>
    <p> Reason: <%= @fleet.reason %> </p>
    <p> Details: <%= @fleet.details %> </p>
    <p> Pilots: <%= @fleet.pilot_count %> </p>
    <p> Fleet started at: <%= @fleet.started_at %> </p>
    <p> Fleet ended at: <%= @fleet.ended_at %> </p>
    <p> Created: <%= @fleet.created_at %> </p>
  </div>
  <%= button_to 'Save', fleet_participation_path(@fleet) %>
</div>

<div class="box">
  <div class="text_left">
    <%= label_tag 'admin-url', 'Link to admin' %>
    <br>
    <%= text_field_tag 'admin_url', fleet_url, size: 100 %>
    <br>
  </div>
</div>

<div class="box">
  <div class="text_left">
    <% @fleet.participations.each do |participation| %>
      <tr>
        <td><%= participation.character_name %></td>
        <td><%= participation.ship_name %></td>
      </tr>
      <br>
    <% end %>
  </div>
</div>
